<h3>Sign up</h3>
<form action="/signup" method="post" accept-charset="utf-8">

  <p><label for="username">Username</label><input type="text" name="username" value="" id="username"></p>
    <p><label for="display_name">Display Name</label><input type="text" name="display_name" value="" id="display_name"></p>
  <p><label for="password">Password</label><input type="password" name="password"
value="" id="password"></p>
  <p><label for="password">Confirm Password</label><input type="password" name="confirm_password" value="" id="confirm_password"></p>

  <p><input type="submit" value="Sign up! &rarr;"></p>
</form>

