<html>
<head>
  <title>Wires Blog Engine</title>
  <link rel="stylesheet" href="/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<p><a href="/"><em>(home)</em></a></p>
<p class="authentication_links">
  <a id="login_link" href="/login">Log in</a> &bull;
  <a id="logout_link" href="/logout">Log out</a> &bull;
  <a id="signup_link" href="/signup">Sign up</a>
</p>
<div id="authentication_status">
  <%= login_status_message %>
</div>
<hr>

<%= yield %>

<hr>
<p>Number of pages you've requested from this site: <%= number_of_pages %></p>
</body>
</html>
